@import "lesshat.less";

.keyframes(~'pulse, 0%{  color: white} 30%{ color: #484244 } 100%{ color: #484244 } ');

.animated-tile {
  .animation-name(pulse);
  .animation-iteration-count(infinite);
  .animation-timing-function(ease-out);
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 22px;
  color: #484244;
  display: table;
  vertical-align: middle;
  text-align: center;
  padding-top: 30px;
}


// Specific animation durations
.deaths {
  .animation-duration(700ms);
}

.births {
  .animation-duration(1s);
}

.catgifs {
  .animation-duration(2s);
}

.deaths2 {
  .animation-duration(3s);
}

.births2 {
  .animation-duration(4s);
}

.catgifs2 {
  .animation-duration(5s);
}



